# server configuration
HOST=
PORT=

#node-postgres configuration
PGUSER=
PGHOST=
PGPASSWORD=
PGDATABASE=
PGPORT=

# JWT Token
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=
ACCESS_TOKEN_AGE=

# EMAIL TRANSPORT
MAIL_HOST=
MAIL_PORT=
EMAIL=
EMAIL_PASSWORD=

# Redis
REDIS_SERVER=

# Redis Prod
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

# Order Timer (in seconds)
AUTO_COMPLETE_DURATION= 
AUTO_CANCEL_DURATION=
SNAP_TOKEN_DURATION=